In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
df = pd.DataFrame.from_csv('/Users/kaitlin/ds/metis/metisgh/Puryear_Metis/Project3/NoShows.csv', 
                      header=0, 
                      sep=',', 
                      index_col=0, 
                      parse_dates=True, 
                      encoding=None, 
                      tupleize_cols=None, 
                      infer_datetime_format=False)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [4]:
# raw data comes in looking like...
df.head()

,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
PatientId,,,,,,,,,,,,,
2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
# fix typos in column headings...
df = df.rename(index=str, columns={"SMS_received": "Text_Sent", 
                              "Hipertension": "Hypertension", 
                              "Handcap": "Handicap",
                                  "Neighbourhood": "neighborhood"})
df.head()

,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,No-show
PatientId,,,,,,,,,,,,,
29872499824296.0,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
558997776694438.0,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
4262962299951.0,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
867951213174.0,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
8841186448183.0,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [6]:
# boolean True or False for response variable..
df["Showed_up"] = (df["No-show"] == "No")

In [7]:
# Make all values in X booleans!
df["woman"] = (df["Gender"] == 'F')
df["Scholarship"] = (df["Scholarship"] == 1)
df["Hypertension"] = (df["Hypertension"] == 1)
df["Diabetes"] = (df["Diabetes"] == 1)
df["Alcoholism"] = (df["Alcoholism"] == 1)
df["Handicap"] = (df["Handicap"] == 1)
df["Text_Sent"] = (df["Text_Sent"] == 1)

In [8]:
df.head()

,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,No-show,Showed_up,woman
PatientId,,,,,,,,,,,,,,,
29872499824296.0,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,False,True,False,False,False,False,No,True,True
558997776694438.0,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,False,False,False,False,False,No,True,False
4262962299951.0,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,False,False,False,False,False,False,No,True,True
867951213174.0,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No,True,True
8841186448183.0,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,True,True,False,False,False,No,True,True

In [9]:
df["appointment_today"] = [datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ') for x in df["AppointmentDay"]]
#df['appointment_today'] = [datetime(x) for x in df["appointment_today"]]

df["scheduled_today"] = [datetime.strptime(x,'%Y-%m-%dT%H:%M:%SZ') for x in df["ScheduledDay"]]
#df['scheduled_today'] = [datetime(x) for x in df["scheduled_today"]]

In [10]:
df["delta"] = [((x-y).days)+1 for x,y in zip(df['appointment_today'], df["scheduled_today"])]

In [11]:
df.head()

,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,No-show,Showed_up,woman,appointment_today,scheduled_today,delta
PatientId,,,,,,,,,,,,,,,,,,
29872499824296.0,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,False,True,False,False,False,False,No,True,True,2016-04-29,2016-04-29 18:38:08,0
558997776694438.0,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,False,False,False,False,False,No,True,False,2016-04-29,2016-04-29 16:08:27,0
4262962299951.0,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,False,False,False,False,False,False,No,True,True,2016-04-29,2016-04-29 16:19:04,0
867951213174.0,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,False,False,False,False,False,False,No,True,True,2016-04-29,2016-04-29 17:29:31,0
8841186448183.0,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,False,True,True,False,False,False,No,True,True,2016-04-29,2016-04-29 16:07:23,0

In [12]:
df = df.drop(['AppointmentDay',
              'appointment_today',
              'scheduled_today',
              'Gender',
              'ScheduledDay', 
              'AppointmentID',
              'No-show'], axis=1)

In [13]:
df = df.reset_index(drop=True)

In [14]:
df

,Age,neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,Showed_up,woman,delta
0,62,JARDIM DA PENHA,False,True,False,False,False,False,True,True,0
1,56,JARDIM DA PENHA,False,False,False,False,False,False,True,False,0
2,62,MATA DA PRAIA,False,False,False,False,False,False,True,True,0
3,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True,True,0
4,56,JARDIM DA PENHA,False,True,True,False,False,False,True,True,0
5,76,REPÚBLICA,False,True,False,False,False,False,True,True,2
6,23,GOIABEIRAS,False,False,False,False,False,False,False,True,2
7,39,GOIABEIRAS,False,False,False,False,False,False,False,True,2
8,21,ANDORINHAS,False,False,False,False,False,False,True,True,0
9,19,CONQUISTA,False,False,False,False,False,False,True,True,2
10,30,NOVA PALESTINA,False,False,False,False,False,False,True,True,2
11,29,NOVA PALESTINA,False,False,False,False,False,True,False,False,3
12,22,NOVA PALESTINA,True,False,False,False,False,False,True,True,1
13,28,NOVA PALESTINA,False,False,False,False,False,False,True,False,1
14,54,NOVA PALESTINA,False,False,False,False,False,False,True,True,1
15,15,NOVA PALESTINA,False,False,False,False,False,True,True,True,3
16,50,NOVA PALESTINA,False,False,False,False,False,False,True,False,1
17,40,CONQUISTA,True,False,False,False,False,False,False,True,1
18,30,NOVA PALESTINA,True,False,False,False,False,True,True,True,3
19,46,DA PENHA,False,False,False,False,False,False,True,True,0
20,30,NOVA PALESTINA,False,False,False,False,False,False,False,True,2
21,4,CONQUISTA,False,False,False,False,False,False,False,True,2
22,13,CONQUISTA,False,False,False,False,False,True,False,False,4
23,46,CONQUISTA,False,False,False,False,False,False,True,True,1
24,65,TABUAZEIRO,False,False,False,False,False,False,True,True,0
25,46,CONQUISTA,False,True,False,False,False,True,True,False,3
26,45,BENTO FERREIRA,False,True,False,False,False,False,True,True,0
27,4,CONQUISTA,False,False,False,False,False,False,True,True,2
28,51,SÃO PEDRO,False,False,False,False,False,False,True,False,0
29,32,SANTA MARTHA,False,False,False,False,False,False,True,True,0
...,...,...,...,...,...,...,...,...,...,...,...
110497,76,MARIA ORTIZ,False,False,False,False,False,False,True,False,0
110498,59,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110499,66,MARIA ORTIZ,False,True,True,False,False,False,True,True,0
110500,59,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110501,44,MARIA ORTIZ,False,False,False,False,False,False,True,False,0
110502,22,GOIABEIRAS,False,False,False,False,False,False,True,True,0
110503,64,SOLON BORGES,False,False,False,False,False,False,True,True,0
110504,4,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110505,55,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110506,5,MARIA ORTIZ,False,False,False,False,False,False,True,False,0
110507,0,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110508,59,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110509,33,MARIA ORTIZ,False,False,False,False,False,False,True,False,0
110510,64,SOLON BORGES,False,False,False,False,False,False,True,True,0
110511,14,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110512,41,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110513,2,ANTÔNIO HONÓRIO,False,False,False,False,False,False,True,False,0
110514,58,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110515,33,MARIA ORTIZ,False,True,False,False,False,False,False,False,2
110516,37,MARIA ORTIZ,False,False,False,False,False,False,False,True,1
110517,19,MARIA ORTIZ,False,False,False,False,False,False,True,True,0
110518,50,MARIA ORTIZ,False,False,False,False,False,True,True,True,41
110519,22,MARIA ORTIZ,False,False,False,False,False,True,True,True,41
110520,42,MARIA ORTIZ,False,False,False,False,False,True,True,True,35
110521,53,MARIA ORTIZ,False,False,False,False,False,True,True,True,35
110522,56,MARIA ORTIZ,False,False,False,False,False,True,True,True,35
110523,51,MARIA ORTIZ,False,False,False,False,False,True,True,True,35
110524,21,MARIA ORTIZ,False,False,False,False,False,True,True,True,41
110525,38,MARIA ORTIZ,False,False,False,False,False,True,True,True,41
110526,54,MARIA ORTIZ,False,False,False,False,False,True,True,True,41

In [15]:
df2 = pd.DataFrame.dropna(df)

In [16]:
df2 = df2.drop('neighborhood', axis=1)

In [17]:
df2.head()

,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,Showed_up,woman,delta
0,62,False,True,False,False,False,False,True,True,0
1,56,False,False,False,False,False,False,True,False,0
2,62,False,False,False,False,False,False,True,True,0
3,8,False,False,False,False,False,False,True,True,0
4,56,False,True,True,False,False,False,True,True,0

In [18]:
df2.to_csv('noshowclean_n.csv', encoding='utf-8', index=True)

In [286]:
hood_list = list(set(df2.neighborhood))

In [278]:
df3 = pd.get_dummies(df2.neighborhood)

In [289]:
for item in hood_list: 
    df3[item] = (df3[item]==1)

In [295]:
result = pd.concat([df3, df2], axis=1)

In [304]:
result.head()

,AEROPORTO,ANDORINHAS,ANTÔNIO HONÓRIO,ARIOVALDO FAVALESSA,BARRO VERMELHO,BELA VISTA,BENTO FERREIRA,BOA VISTA,BONFIM,CARATOÍRA,...,neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,Showed_up,woman,delta
0,False,False,False,False,False,False,False,False,False,False,...,JARDIM DA PENHA,False,True,False,False,False,False,True,True,0
1,False,False,False,False,False,False,False,False,False,False,...,JARDIM DA PENHA,False,False,False,False,False,False,True,False,0
2,False,False,False,False,False,False,False,False,False,False,...,MATA DA PRAIA,False,False,False,False,False,False,True,True,0
3,False,False,False,False,False,False,False,False,False,False,...,PONTAL DE CAMBURI,False,False,False,False,False,False,True,True,0
4,False,False,False,False,False,False,False,False,False,False,...,JARDIM DA PENHA,False,True,True,False,False,False,True,True,0

In [305]:
df5 = result.drop(['neighborhood'], axis=1)

In [306]:
df5.to_csv('noshowclean.csv', encoding='utf-8', index=False)

In [307]:
df5.columns

Index(['AEROPORTO', 'ANDORINHAS', 'ANTÔNIO HONÓRIO', 'ARIOVALDO FAVALESSA',
       'BARRO VERMELHO', 'BELA VISTA', 'BENTO FERREIRA', 'BOA VISTA', 'BONFIM',
       'CARATOÍRA', 'CENTRO', 'COMDUSA', 'CONQUISTA', 'CONSOLAÇÃO',
       'CRUZAMENTO', 'DA PENHA', 'DE LOURDES', 'DO CABRAL', 'DO MOSCOSO',
       'DO QUADRO', 'ENSEADA DO SUÁ', 'ESTRELINHA', 'FONTE GRANDE',
       'FORTE SÃO JOÃO', 'FRADINHOS', 'GOIABEIRAS', 'GRANDE VITÓRIA',
       'GURIGICA', 'HORTO', 'ILHA DAS CAIEIRAS', 'ILHA DE SANTA MARIA',
       'ILHA DO BOI', 'ILHA DO FRADE', 'ILHA DO PRÍNCIPE',
       'ILHAS OCEÂNICAS DE TRINDADE', 'INHANGUETÁ', 'ITARARÉ', 'JABOUR',
       'JARDIM CAMBURI', 'JARDIM DA PENHA', 'JESUS DE NAZARETH', 'JOANA D´ARC',
       'JUCUTUQUARA', 'MARIA ORTIZ', 'MARUÍPE', 'MATA DA PRAIA', 'MONTE BELO',
       'MORADA DE CAMBURI', 'MÁRIO CYPRESTE', 'NAZARETH', 'NOVA PALESTINA',
       'PARQUE INDUSTRIAL', 'PARQUE MOSCOSO', 'PIEDADE', 'PONTAL DE CAMBURI',
       'PRAIA DO CANTO', 'PRAIA DO SUÁ', 'REDENÇÃO', 'REPÚBLICA',
       'RESISTÊNCIA', 'ROMÃO', 'SANTA CECÍLIA', 'SANTA CLARA', 'SANTA HELENA',
       'SANTA LUÍZA', 'SANTA LÚCIA', 'SANTA MARTHA', 'SANTA TEREZA',
       'SANTO ANDRÉ', 'SANTO ANTÔNIO', 'SANTOS DUMONT', 'SANTOS REIS',
       'SEGURANÇA DO LAR', 'SOLON BORGES', 'SÃO BENEDITO', 'SÃO CRISTÓVÃO',
       'SÃO JOSÉ', 'SÃO PEDRO', 'TABUAZEIRO', 'UNIVERSITÁRIO', 'VILA RUBIM',
       'Age', 'Scholarship', 'Hypertension', 'Diabetes', 'Alcoholism',
       'Handicap', 'Text_Sent', 'Showed_up', 'woman', 'delta'],
      dtype='object')

In [308]:
df5.head()

,AEROPORTO,ANDORINHAS,ANTÔNIO HONÓRIO,ARIOVALDO FAVALESSA,BARRO VERMELHO,BELA VISTA,BENTO FERREIRA,BOA VISTA,BONFIM,CARATOÍRA,...,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,Text_Sent,Showed_up,woman,delta
0,False,False,False,False,False,False,False,False,False,False,...,62,False,True,False,False,False,False,True,True,0
1,False,False,False,False,False,False,False,False,False,False,...,56,False,False,False,False,False,False,True,False,0
2,False,False,False,False,False,False,False,False,False,False,...,62,False,False,False,False,False,False,True,True,0
3,False,False,False,False,False,False,False,False,False,False,...,8,False,False,False,False,False,False,True,True,0
4,False,False,False,False,False,False,False,False,False,False,...,56,False,True,True,False,False,False,True,True,0